---
title: Вилла Бодрум - A510
description: Проект, состоящий из 8 отдельно стоящих вилл общей площадью 10 060 м², построен на участке площадью 1 167 м² в каждой независимой секции.
layout: empty
permalink: /bodrum

image: /images/lolkek/cheburek/cheburek-01.jpg
---
{% include header.html %}
<style>
    html {
        font-family: 'Roboto Mono', monospace;
    }

    .hero p {
        text-align: left;
    }

    .long_text {
        overflow: hidden;
        height: 0;
    }

    .read_more_link::after {
        content: "Читать дальше";
        cursor: pointer;
    }

    #read_more:checked + .long_text {
        height: auto;
    }

    #read_more:checked ~ .read_more_link::after {
        content: "";
    }

</style>
<main>
    <div class="hero">
        <img
            alt="Villa-Bodrum-photo-1"
            width="1024"
            height="768"
            src="/images/lolkek/cheburek/cheburek-01.jpg">
        <h1>Вилла Бодрум</h1>
        <p class="hidden">Проект, состоящий из 8 отдельно стоящих вилл общей площадью 10 060 м², построен на участке площадью 1 167 м² в каждой независимой секции.</p>
        <p class="hidden">Каждая вилла спланирована как одноэтажная, имеет внутреннюю площадь 120 м² и общую площадь использования 217 м², включая террасы. Есть 2 отдельные комнаты и отдельный подвальный этаж площадью 75 м², которые можно использовать отдельно для гостевого дома или хозяйственной постройки.</p>
        <input type="checkbox" id="read_more" hidden />
        <div class="long_text">
            <p class="hidden">Виллы имеют площадь около 300 м² вместе с хозяйственными постройками. Первый этаж 3 спальни, одна с ванной комнатой, гостиная и общая ванная комната; Он состоит из 2 комнат с ванными комнатами и технического помещения на цокольном этаже. Столярные изделия марки Linea Rossa, а стекло – серии Isıcam comfort. В то время как стекла блокируют тепло от окон летом, они защищают тепло зимой. Автоматическая система жалюзи будет применяться к внешней стороне столярных изделий. Кухни выполнены в стиле лакированных американских кухонь. На кухне установлены плита, духовка, вытяжка и 2-дверный холодильник марки Franke. Внутренние двери виллы покрыты лаком. На полы нанесена керамическая аппликация. Керамика Использовалась керамика Kütahya размером 75x120 см. В главном здании применена система подогрева пола. Предпочтение отдается основной машине Viessmann.</p>
            <p class="hidden">Каждая вилла имеет собственный бассейн. Бассейны размером 5х14 м и глубиной 1,40 м. Каждая вилла имеет собственный резервуар для воды на 15 тонн и питается от городской сети. Также имеется 80-тонный резервуар для воды для полива сада. Все сады имеют автоматическую систему полива. Наружные стены имеют толщину 28-30 см, снаружи используется теплоизоляция Capatect Dalmatian. Тщательно применялись теплоизоляция основания и боковых сторон, гидроизоляция крыши и полиуретановая теплоизоляция. При въезде на участок есть сторожка, подходящая для семейной жизни, в которой могут разместиться постояльцы. Кроме того, у входной двери объекта имеется будка охраны с отдельным помещением для охраны.</p>
        </div>
        <label class="read_more_link hidden" for="read_more"></label>
        <hr>
        <table class="hidden">
            <tbody>
                <tr>
                    <td>Цена:</td>
                    <td>1 300 000 $</td>
                </tr>
                <tr>
                    <td>Локация:</td>
                    <td>Бодрум, центр</td>
                </tr>
                <tr>
                    <td>Внутренняя площадь:</td>
                    <td>120 м2</td>
                </tr>
                <tr>
                    <td>Общая площадь:</td>
                    <td>217 м2</td>
                </tr>
                <tr>
                    <td>Площадь участка:</td>
                    <td>1167 м2</td>
                </tr>
                <tr>
                    <td>Расстояние до моря:</td>
                    <td>800 м</td>
                </tr>
                <tr>
                    <td>Жилые комнаты:</td>
                    <td>3 + 1</td>
                </tr>
                <tr>
                    <td>Гостевая комната:</td>
                    <td>цокольный этаж</td>
                </tr>
                <tr>
                    <td>Бассейн:</td>
                    <td>Infinity pool</td>
                </tr>
                <tr>
                    <td>На участке:</td>
                    <td>парковка, сад, барбекю, террасы</td>
                </tr>
                <tr>
                    <td>Готовность:</td>
                    <td>полностью завершен</td>
                </tr>
                <tr>
                    <td>Подходит под:</td>
                    <td>ВНЖ, гражданство</td>
                </tr>
            </tbody>
        </table>
    </div>
    {%-assign img_array = '' | split:','-%}
    {%-for file in site.static_files-%}
        {%- if file.path contains "cheburek" -%}
            {%- assign img_array = img_array | push: file.path -%}
        {%- endif -%}
    {%- endfor -%}
    <div class="gallery">
        {%- for img in img_array -%}
        {%- unless forloop.first -%}
        <img
            class="hidden"
            loading="lazy"
            alt="Villa-Bodrum-photo-x"
            width="1024"
            height="768"
            src={{ img }}>
        {%- endunless -%}
        {%- endfor -%}
    </div>
    <a class="top hidden" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
            <title>Arrow</title>
            <style>
                path {color:currentColor;stroke:currentColor;}
            </style>
            <path d="M500 50v900m0-900l300 300M500 50l-300 300"/>
        </svg>
    </a>
</main>
{% include footer.html %}