---
title: Velux Yalıkavak
description: Velux Yalıkavak description - A510
layout: empty
permalink: /lolkek
---
{% include header.html %}
<style>
    html {
        font-family: 'Roboto Mono', monospace;
    }

    .hero p {
        text-align: left;
    }
</style>
<main>
    <div class="hero">
        <img
            alt="Velux Yalıkavak Villa-photo-1"
            title="Velux Yalıkavak Villa-photo-1"
            width="2560"
            height="1440"
            src="/images/lolkek-01.jpg">
        <h1>Велюкс Ялыкавак</h1>
        <p class="hidden">Велюкс Ялыкавак – это проект, который может стать новым уникальным местом Бодрума, общей площадью 64 000 квадратных метров, состоящий из 83 жилых объектов.</p>
        <p class="hidden">Жилые комплексы под девизом «вместе с природой, в единении с природой» были разработаны на основе принципа «Безотходный проект».</p>
        <table class="hidden">
            <tbody>
                <tr>
                    <td>Цена:</td>
                    <td>2 900 000 $</td>
                </tr>
                <tr>
                    <td>Локация:</td>
                    <td>Ялыкавак</td>
                </tr>
                <tr>
                    <td>Площадь дома:</td>
                    <td>378 м2</td>
                </tr>
                <tr>
                    <td>Площадь участка:</td>
                    <td>1000 м2</td>
                </tr>
                <tr>
                    <td>Расстояние до моря:</td>
                    <td>800 м</td>
                </tr>
                <tr>
                    <td>Жилые комнаты:</td>
                    <td>5 + 1</td>
                </tr>
                <tr>
                    <td>Спальни:</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Санузлы:</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Бассейн:</td>
                    <td>Infinity pool</td>
                </tr>
                <tr>
                    <td>На участке:</td>
                    <td>парковка, сад, барбекю, террасы</td>
                </tr>
                <tr>
                    <td>Готовность:</td>
                    <td>завершен</td>
                </tr>
                <tr>
                    <td>Подходит под:</td>
                    <td>ВНЖ, гражданство</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="gallery">
        <img
            class="hidden"
            loading="lazy"
            alt="Lolkek Cheburek Villa-photo-1"
            title="Lolkek Cheburek Villa-photo-1"
            width="2560"
            height="1440"
            src="/images/lolkek-01.jpg">
        <img
            class="hidden"
            loading="lazy"
            alt="Lolkek Cheburek Villa-photo-1"
            title="Lolkek Cheburek Villa-photo-1"
            width="2560"
            height="1440"
            src="/images/lolkek-01.jpg">
        <img
            class="hidden"
            loading="lazy"
            alt="Lolkek Cheburek Villa-photo-1"
            title="Lolkek Cheburek Villa-photo-1"
            width="2560"
            height="1440"
            src="/images/lolkek-01.jpg">
    </div>
    <a class="top hidden" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
            <title>Arrow</title>
            <style>
                path {color:currentColor;stroke:currentColor;}
            </style>
            <path d="M500 50v900m0-900l300 300M500 50l-300 300"/>
        </svg>
    </a>
</main>
{% include footer.html %}