<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="is-loading">
        {% include header.html %}
        <main>
            <div class="hero">
                {%-assign url_list = page.url | split: '/'-%}
                {%-assign name = url_list | last-%}
                <img alt="{{page.name}}-photo-1" title="{{page.name}}-photo-1" width="2560" height="1440" src="/images/projects/{{name}}/{{name}}-01_2560w.jpg" srcset="/images/projects/{{name}}/{{name}}-01_2560w.jpg 2560w, /images/projects/{{name}}/{{name}}-01_1920w.jpg 1920w, /images/projects/{{name}}/{{name}}-01_1600w.jpg 1600w, /images/projects/{{name}}/{{name}}-01_1200w.jpg 1200w, /images/projects/{{name}}/{{name}}-01_800w.jpg 800w" sizes="(max-width: 1600px) 90vw, 75vw">
                <h1>{{page.name}}</h1>
                <table class="hidden">
                    <tbody>
                        <tr>
                            <td>Area:</td>
                            <td>{{page.area}}</td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td>{{page.location}}</td>
                        </tr>
                        <tr>
                            <td>Year:</td>
                            <td>{{page.year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {%-assign img_array = '' | split:','-%}
            {%-for file in site.static_files-%}
                {%-assign path_list = file.path | split: '/'-%}
                {%-assign path_name = path_list | last-%}
                {%-assign path_dir = path_list[-2]-%}
                {%-assign path_name = path_name | slice: 0, name.size-%}
                {%-if path_name == name-%}
                   {%- if path_dir == name -%}
                        {%-assign img_array = img_array | push: file.path-%}
                   {%- endif -%}
                {%-endif-%}
            {%-endfor-%}
            {%- assign tmp_array = '' | split: ','-%}
            {%-for tmp in img_array %}
                {%- assign tmp_name = tmp | split:'_' | first -%}
                {%- assign tmp_array = tmp_array | push: tmp_name -%}
            {%-endfor-%}
            {%-assign array = tmp_array | uniq -%}
            <div class="gallery">
                {%-for img in array-%}
                    {% unless forloop.first %}
                        <img class="hidden" loading="lazy" alt="{{page.name}}-photo-{{forloop.index}}" title="{{page.name}}-photo-{{forloop.index}}" width="2560" height="1440" src="{{img}}_2560w.jpg" srcset="{{img}}_2560w.jpg 2560w, {{img}}_1920w.jpg 1920w, {{img}}_1600w.jpg 1600w, {{img}}_1200w.jpg 1200w, {{img}}_800w.jpg 800w" sizes="(max-width: 1600px) 90vw, 75vw">
                    {% endunless %}
                {%-endfor-%}
            </div>
            <a class="top hidden" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                    <title>Arrow</title>
                    <style>
                        path {color:#000;stroke:currentColor;}
                        @media (prefers-color-scheme: dark) {
                            path {color:#fff}
                        }
                    </style>
                    <path d="M500 50v900m0-900l300 300M500 50l-300 300"/>
                </svg>
            </a>
        </main>
        {% include footer.html %}
        {% include scripts.html %}
    </body>

</html>